@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "_class.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navBar {
    background-color: #fef5f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 70px;

    .link {
        display: none;
        @media screen and (max-width: 700px) {
            background-color: #fef5f1;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            width: 100%;
            align-items: center;
            justify-content: center;
            align-self: center;
            line-height: 25px;
            list-style-type: none;
        }
        button {
            background-color: #190e2c;
            border-radius: 4px;
            width: 70px;
            height: 40px;
            color: #ffff;
        }
    }
    @media screen and (max-width: 700px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        width: 50%;
        @media screen and (max-width: 900px) {
            width: 60%;
        }
        @media screen and (max-width: 700px) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        button {
            background-color: #190e2c;
            border-radius: 4px;
            width: 70px;
            height: 40px;
            color: #ffff;
        }
    }

    h2 {
        font-size: 25px;
        color: #190e2c;
        font-weight: 1000;
        span {
            color: #a44512;
        }
        @media screen and (max-width: 700px) {
            font-size: 18px;
        }
    }
    .switcher {
        display: none;
        @media screen and (max-width: 700px) {
            display: flex;
        }
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .firstArea {
        flex-basis: 40%;
        @media screen and (max-width: 1105px) {
            flex-basis: 50%;
        }
        @media screen and (max-width: 932px) {
            flex-basis: 60%;
        }
        @media screen and (max-width: 878px) {
            flex-basis: 70%;
        }
    }

    h1 {
        font-size: 52px;
        margin-bottom: 20px;
        color: #333333;
        @media screen and (max-width: 1025px) {
            font-size: 48px;
        }
        @media screen and (max-width: 979px) {
            font-size: 44px;
        }
        @media screen and (max-width: 837px) {
            font-size: 30px;
        }
        span {
            color: #a44512;
        }
        @media screen and (max-width: 990px) {
            margin-bottom: 20px;
        }
    }

    p {
        margin-bottom: 20px;
        color: #333333;
        font-size: 18px;
        text-align: justify;

        @media screen and (max-width: 990px) {
            margin-bottom: 20px;
            color: #333333;
            font-size: 16px;
        }
    }
    .imageContainer {
        display: flex;
        justify-content: flex-end;
        img {
            margin-top: 20px;
            width: 90%;
            @media screen and (max-width: 990px) {
                width: 70%;
            }
            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }
    }

    .buttonContainer {
        display: flex;
        .buttonOne {
            background-color: #190e2c;
            color: #ffffff;
            border-radius: 4px;
            font-size: 16px;
            padding: 13px 30px;
            margin-right: 30px;

            @media screen and (max-width: 900px) {
                padding: 13px 30px;
            }
            @media screen and (max-width: 843px) {
                padding: 10px 20px;
            }
            @media screen and (max-width: 837px) {
                font-size: 12px;
            }
            @media screen and (max-width: 773px) {
                padding: 10px 13px;
            }
        }

        button {
            color: #190e2c;
            background-color: #ffffff;
            border-radius: 4px;
            font-size: 16px;
            padding: 13px 30px;

            @media screen and (max-width: 900px) {
                padding: 13px 20px;
            }
            @media screen and (max-width: 843px) {
                padding: 10px 20px;
            }
            @media screen and (max-width: 837px) {
                font-size: 12px;
            }
            @media screen and (max-width: 773px) {
                padding: 10px 13px;
            }
        }
    }
}

.sectionTwo {
    margin-top: 20px;
    background-color: #fdf2ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .textDiv {
        flex-basis: 50%;
    }

    img {
        margin-left: 90px;
        padding-top: 60px;
        @media screen and(max-width:700px) {
            margin-left: 0px;
            max-width: 250px;
        }
        @media screen and(max-width:846px) {
            margin-left: 30px;
        }
    }

    h1 {
        color: #190e2c;
        font-size: 40px;
        @media screen and (max-width: 961px) {
            font-size: 35px;
        }
        @media screen and (max-width: 950px) {
            padding-left: 30px;
            padding-right: 0px;
        }
        @media screen and(max-width:700px) {
            padding-left: 0px;
            padding-right: 0px;
            font-size: 25px;
        }
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #333333;
        font-size: 18px;
        padding-right: 180px;
        text-align: justify;
        @media screen and (max-width: 1149px) {
            padding-right: 100px;
        }
        @media screen and (max-width: 950px) {
            padding-left: 30px;
            font-size: 16px;
            padding-right: 0px;
        }
        @media screen and(max-width:700px) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .buttonHolder {
        display: flex;
        @media screen and (max-width: 950px) {
            padding-left: 30px;
        }
        @media screen and(max-width:700px) {
            padding-left: 0px;
        }

        button {
            &:first-child {
                color: #ffffff;
                background-color: #190e2c;
                padding: 15px 25px;
                border-radius: 4px;
                font-size: 16px;
                @media screen and (max-width: 950px) {
                    font-size: 14px;
                    padding: 10px 20px;
                }
                @media screen and (max-width: 738px) {
                    padding: 10px 15px;
                }
                @media screen and (max-width: 846px) {
                    font-size: 10px;
                }
            }
            &:last-child {
                color: #190e2c;
                padding: 15px 25px;
                border-radius: 4px;
                font-size: 16px;
                background-color: #fdf2ed;
                margin-left: 30px;
                @media screen and (max-width: 950px) {
                    font-size: 14px;
                    padding: 10px 20px;
                }
                @media screen and (max-width: 738px) {
                    margin-left: 5px;
                    padding: 10px 15px;
                }
                @media screen and (max-width: 846px) {
                    font-size: 10px;
                }
            }
        }
    }
}

.sectionThree {
    background-color: #f3f3f3;
    @media screen and (max-width: 700px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .recListContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h1 {
        color: #000000;
        padding-top: 20px;
        margin-bottom: 30px;
        @media screen and (max-width: 700px) {
            font-size: 24px;
        }
    }
    h3 {
        color: #000000;
        margin-bottom: 10px;
        padding-top: 20px;
    }
    h5 {
        color: #ffa219;
        margin-bottom: 20px;
    }
    // .topImg{
    //     // position: absolute;
    // }
    .card {
        background-color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        width: 295px;
        height: 300px;
        padding-left: 15px;
        position: relative;
        top: -20px;
    }
    .optionList {
        display: flex;
        justify-content: space-between;
        flex-basis: 25%;
        width: 275px;
        align-items: center;
        margin-bottom: 20px;
    }
    .options {
        background-color: #190e2c;
        border-radius: 5px;
        color: #ffffff;
        width: 85px;
        height: 35px;
        display: flex;
        align-items: center;
        gap: 8.89px;
        padding: 8px;
        font-size: 12px;
    }
    .options1 {
        background-color: #190e2c;
        border-radius: 5px;
        color: #ffffff;
        width: 70px;
        height: 35px;
        display: flex;
        align-items: center;
        gap: 8.89px;
        padding: 8px;
        font-size: 12px;
    }
    .lastLine {
        display: flex;
        align-items: center;
        margin-top: 45px;
        justify-content: space-between;
        button {
            color: #ffffff;
            background-color: #ba7004;
            padding: 10px 20px;
            border-radius: 3px;
            margin-right: 5px;
        }
    }
    .see {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-bottom: 50px;
        padding-bottom: 50px;
        .seeMore {
            color: #ffffff;
            background-color: #ba7004;
            padding: 20px 40px;
            border-radius: 3px;
        }
    }
}

.SectionFour {
    @media screen and (max-width: 700px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        @media screen and (max-width: 700px) {
            text-align: center;
        }
    }
    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .img {
            width: 270px;
            margin-bottom: 40px;
        }
    }
}

.footer {
    background: #e5e5e5;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width:700px) {
        flex-direction: column;
        align-items: center;
        
    }
    .mainlogo{
        @media screen and (max-width: 900px) {
            width: 150px;
            padding-bottom: 20px;
        }
    }
    h4 {
        margin-bottom: 20px;
        @media screen and (max-width:700px) {
           padding-top: 20px;
        }
    }
    ul {
        list-style-type: none;
        line-height: 6vh;
    }
    p {
        line-height: 6vh;
        text-align: center;
    }
    .imgmedia {
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        @media screen and (max-width:700px) {
            padding-top: 20px;
         }
    }
}
