@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.alignment {
  padding-left: 50px;
  padding-right: 50px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navBar {
  background-color: #fef5f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 70px;
}

.navBar .link {
  display: none;
}

@media screen and (max-width: 700px) {
  .navBar .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 70px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    line-height: 25px;
    list-style-type: none;
  }
}

.navBar .link button {
  background-color: #190e2c;
  border-radius: 4px;
  width: 70px;
  height: 40px;
  color: #ffff;
}

@media screen and (max-width: 700px) {
  .navBar {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navBar .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .navBar .ul {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .navBar .ul {
    display: none;
  }
}

.navBar .ul:hover {
  cursor: pointer;
}

.navBar .ul button {
  background-color: #190e2c;
  border-radius: 4px;
  width: 70px;
  height: 40px;
  color: #ffff;
}

.navBar h2 {
  font-size: 25px;
  color: #190e2c;
  font-weight: 1000;
}

.navBar h2 span {
  color: #a44512;
}

@media screen and (max-width: 700px) {
  .navBar h2 {
    font-size: 18px;
  }
}

.navBar .switcher {
  display: none;
}

@media screen and (max-width: 700px) {
  .navBar .switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .firstArea {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.container h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.container h1 span {
  color: #a44512;
}

.container p {
  margin-bottom: 20px;
  color: #333333;
  max-width: 33vw;
}

.container img {
  margin-top: 20px;
  width: 90%;
}

.container .buttonOne {
  background-color: #190e2c;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  width: 150px;
  height: 50px;
  margin-right: 30px;
}

.container button {
  color: #190e2c;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  width: 150px;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */