@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "_class.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navBar {
    background-color: #fef5f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 70px;

    .link {
        display: none;
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            width: 100%;
            align-items: center;
            justify-content: center;
            align-self: center;
            line-height: 25px;
            list-style-type: none;
        }
        button {
            background-color: #190e2c;
            border-radius: 4px;
            width: 70px;
            height: 40px;
            color: #ffff;
        }
    }
    @media screen and (max-width: 700px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        width: 50%;
        @media screen and (max-width: 900px) {
            width: 60%;
        }
        @media screen and (max-width: 700px) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        button {
            background-color: #190e2c;
            border-radius: 4px;
            width: 70px;
            height: 40px;
            color: #ffff;
        }
    }

    h2 {
        font-size: 25px;
        color: #190e2c;
        font-weight: 1000;
        span {
            color: #895f20;
        }
        @media screen and (max-width: 700px) {
            font-size: 18px;
        }
    }
    .switcher {
        display: none;
        @media screen and (max-width: 700px) {
            display: flex;
        }
    }
}
